// background
$bgcolor : #6b6b6b;
$bgimg: url('../media/ka.jpg');

// font
$font--varela : 'Varela Round', sans-serif;
$font--dosis: 'Dosis', sans-serif;
$font--exo: 'Exo 2', sans-serif;

// font--color
$text--white : #ffffff;
$text--greenqodr : #007e77;
$text--gray: #a0a0a0;
